<header id="header" ng-include="'templates/header.html'"></header>

<section id="main">
  <section id="content">
    <div class="container">
      <div class="text-center f-30 m-t-50 f-300">
        <h4>What is it?</h4>
        Melobe makes github notifications more friendly, specifically manageable!
      </div>
      <div class="text-center f-30 m-t-30 f-300">
        <h4>How does it works?</h4>
        Melobe service will  watch your Github notifications to automatically mark them as read  according to your settings.
      </div>
      <div class="text-center m-t-30">
        <a class="btn btn-success" ui-sref-opts="{reload: true}" ui-sref="auth">
          <i class="fa fa-github fa-lg"></i>
          Login with Github
        </a>
      </div>
    </div>
  </section>
</section>
