/*
 * Generate Margin Class
 * margin, margin-top, margin-bottom, margin-left, margin-right
 */

.m-0 {
  margin: 0px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-50 {
  margin: 50px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}
.m-r-50 {
  margin-right: 50px !important;
}

/*
 * Font Weight
 */

.f-300 {
  font-weight: 300 !important;
}
.f-400 {
  font-weight: 400 !important;
}
.f-500 {
  font-weight: 500 !important;
}
.f-700 {
  font-weight: 700 !important;
}
.f-8 {
  font-size: 8px;
}
.f-9 {
  font-size: 9px;
}
.f-10 {
  font-size: 10px;
}
.f-11 {
  font-size: 11px;
}
.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
}
.f-14 {
  font-size: 14px;
}
.f-15 {
  font-size: 15px;
}
.f-16 {
  font-size: 16px;
}
.f-17 {
  font-size: 17px;
}
.f-18 {
  font-size: 18px;
}
.f-19 {
  font-size: 19px;
}
.f-20 {
  font-size: 20px;
}
.f-50 {
  font-size: 50px;
}

/*
 * Overflow
 */

.o-hidden {
  overflow: hidden !important;
}
.o-visible {
  overflow: visible !important;
}
.o-auto {
  overflow: auto !important;
}

/*
 * Display
 */

.d-block {
  display: block !important;
}
.di-block {
  display: inline-block !important;
}

/*
 * Material Background Colors
 */

.bgm-white {
  background-color: #ffffff !important;
}
.c-white {
  color: #ffffff !important;
}
.bgm-black {
  background-color: #000000 !important;
}
.c-black {
  color: #000000 !important;
}
.bgm-brown {
  background-color: #795548 !important;
}
.c-brown {
  color: #795548 !important;
}
.bgm-pink {
  background-color: #e91e63 !important;
}
.c-pink {
  color: #e91e63 !important;
}
.bgm-red {
  background-color: #f44336 !important;
}
.c-red {
  color: #f44336 !important;
}
.bgm-blue {
  background-color: #2196f3 !important;
}
.c-blue {
  color: #2196f3 !important;
}
.bgm-purple {
  background-color: #9c27b0 !important;
}
.c-purple {
  color: #9c27b0 !important;
}
.bgm-deeppurple {
  background-color: #673ab7 !important;
}
.c-deeppurple {
  color: #673ab7 !important;
}
.bgm-lightblue {
  background-color: #03a9f4 !important;
}
.c-lightblue {
  color: #03a9f4 !important;
}
.bgm-cyan {
  background-color: #00bcd4 !important;
}
.c-cyan {
  color: #00bcd4 !important;
}
.bgm-teal {
  background-color: #009688 !important;
}
.c-teal {
  color: #009688 !important;
}
.bgm-green {
  background-color: #4caf50 !important;
}
.c-green {
  color: #4caf50 !important;
}
.bgm-lightgreen {
  background-color: #8bc34a !important;
}
.c-lightgreen {
  color: #8bc34a !important;
}
.bgm-lightergreen {
  background-color: #BAF3B4 !important;
}
.c-lightergreen {
  color: #BAF3B4 !important;
}
.bgm-lime {
  background-color: #cddc39 !important;
}
.c-lime {
  color: #cddc39 !important;
}
.bgm-yellow {
  background-color: #ffeb3b !important;
}
.c-yellow {
  color: #e9dba5 !important;
}
.bgm-amber {
  background-color: #ffc107 !important;
}
.c-amber {
  color: #ffc107 !important;
}
.bgm-orange {
  background-color: #ff9800 !important;
}
.c-orange {
  color: #ff9800 !important;
}
.bgm-deeporange {
  background-color: #ff5722 !important;
}
.c-deeporange {
  color: #ff5722 !important;
}
.bgm-gray {
  background-color: #9e9e9e !important;
}
.c-gray {
  color: #9e9e9e !important;
}
.bgm-bluegray {
  background-color: #607d8b !important;
}
.c-bluegray {
  color: #607d8b !important;
}
.bgm-indigo {
  background-color: #3f51b5 !important;
}
.c-indigo {
  color: #3f51b5 !important;
}

/*
 * Background Colors
 */

.bg-black-trp {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*
 * Border
 */

.b-0 {
  border: 0 !important;
}

/*
 * width
 */

.w-100 {
  width: 100% !important;
}

/*
 * Border Radius
 */

.brd-2 {
  border-radius: 2px;
}

/*
 * Text Transform
 */

.t-uppercase {
  text-transform: uppercase;
}
.cursor-pointer {
  cursor: pointer;
}
.not-seen {
  /*opacity: 0;*/
}
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.min-w-350 {
  min-width: 350px;
}
input[type=checkbox].option-checkbox {
  display: none;
}
input[type=checkbox].option-checkbox + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 0.8em;
}
input[type=checkbox].option-checkbox + label:before {
  content: "\f1f6";
  color: #f44336;
  font-size: 0.8em;
}
input[type=checkbox].option-checkbox + label:before {
  letter-spacing: 10px;
  font-size: 0.8em;
}
input[type=checkbox].option-checkbox:checked + label:before {
  content: "\f0f3";
  color: #4caf50;
  font-size: 0.8em;
}
input[type=checkbox].option-checkbox:checked + label:before {
  letter-spacing: 5px;
  font-size: 0.8em;
}
.profile-pic {
  width: 30px;
}
#header .navbar-brand img {
  width: 100px;
  padding: 0 10px;
}
.status-messages {
  max-width: 300px;
  max-width: 300px;
  position: absolute;
  right: 10px;
  width: 200px;
}
